
@{
    ViewBag.Title = "Index";
}

<h2>HR Portal</h2>
<div style="margin-top:50px;">
    <ul>
        <li>@Html.ActionLink("View my details", "Detail", "User", new { id = 3 }, null)</li>
        <li>@Html.ActionLink("View my salary", "GoToPartnerSite", "User", new { id = 3 }, null) </li>
    </ul>
</div>